<div class="row m-0">
<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header"> Doughnut Chart</div>
        <div class="card-body">
            <!-- <p-chart type="doughnut" [data]="data"></p-chart> -->
            <p-chart type="pie" [data]="data"></p-chart>
        </div>
      </div>
</div>
<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header">Polar Area Chart</div>
        <div class="card-body">
            <p-chart type="polarArea" [data]="data1"></p-chart>
        </div>
      </div>
</div>
<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header">Radar Chart</div>
        <div class="card-body">
            <p-chart type="radar" [data]="data2"></p-chart>
        </div>
      </div>
</div>
<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header">Bar Chart</div>
        <div class="card-body">
            <p-chart type="bar" [data]="data3"></p-chart>
        </div>
      </div>
</div>

</div>