<nav id="sidebar">
  <div class="sidebar-header">
      <h4><a class="text-white" routerLink="starter">Angular 7 with Bootstrap</a></h4>
  </div>
  <ul class="list-unstyled" id="menuslist">
      <li><a routerLink="starter">How to Start</a></li>
      <li> <a routerLink="dropnavbar">Navbar with Dropdowwn</a></li>
      <li><a routerLink="carousel">Carousel</a></li>
      <li><a routerLink="thumbCrausel">Thumbinal Carousel</a></li>
      <li><a routerLink="owl">Owl Carousel</a></li>
      <li><a routerLink="scrollAnimation">Scroll Based Animation</a></li>
      <li><a routerLink="gallery">Lightbox Gallery</a></li>
      <li><a routerLink="service">Http Client service</a></li>
      <li><a routerLink="pagination">Pagination</a></li>
      <li><a routerLink="validation">Reactive Form Validation</a></li>
      <li><a routerLink="validationdemo">Validation Demo</a></li>
      <li><a routerLink="chart">Chart</a></li>
      <li><a routerLink="thumslider">Thumb Slider</a></li>
      <li><a routerLink="typeheadSearch">Typehead Search</a></li>
  </ul>
</nav>