.img-fit{object-fit: cover; height: 400px;}
.carousel-item::after{content:""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.6);}
.badge{display: table; width: auto; font-weight: 400;}
.carousel-caption{bottom: 25%;}


