<div class="alert" role="alert" [ngClass]="status ? 'alert-danger' : 'alert-primary'">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="alert" role="alert"  [ngClass]="status ? 'alert-primary' : 'alert-danger'">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>

<button type="button" class="btn btn-primary mr-2" (click)="clickEvent()">Togglar</button>
<button type="button" class="btn mr-2" (click)="clickEvent1()"  [ngClass]="status2 ? 'btn-danger' : 'btn-success'">Toggler Self</button>


