
<div class="row m-0">
<div class="col-sm-3" *ngFor="let d of letNews | fixes:40 | paginate: { itemsPerPage: 4, currentPage: p }">
  <div class="card">
    <img class="card-img-top" src="{{d.url}}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">AlbumId : {{d.albumId}}</h4>
      <p class="card-text">{{d.title}}</p>
      <a href="{{d.thumbnailUrl}}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>

<div class="d-flex justify-content-center w-100">
  <div class="mt-5"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
</div>



<div class="container">
  <owl-carousel [options]="myCarouselOptions"  [carouselClasses]="['owl-theme', 'sliding']" >
    <div class="item" *ngFor="let d of letNews | fixes:30;let i = index">
      <div class="card">
        <img class="card-img-top" src="{{d.thumbnailUrl}}" alt="Card image cap" style="height: 120px;">
        <div class="card-body p-2">
          <h4 class="card-title">Album Id : {{d.albumId}}</h4>
          <p class="card-text">{{d.title}}</p>
          <a href="{{d.url}}" target="_new" class="btn btn-sm btn-primary">Read More</a>
        </div>
      </div>
    </div>
   </owl-carousel>
</div>








<h6><span class="badge badge-primary">1</span> First Install ngx-pagination in using CMD</h6>
<pre class="bg-secondary text-white p-2 text-monospace">npm install ngx-pagination --save</pre>
<h6><span class="badge badge-primary">2</span> Import app-module.ts</h6>
<textarea _ngcontent-c6="" autocapitalize="off" autocomplete="off" autocorrect="off" class="w-100 bg-light text-monospace" spellcheck="false" style="min-height:30vh;">import {NgxPaginationModule} from 'ngx-pagination';

  @NgModule({
  imports: [
  BrowserModule, 
  NgxPaginationModule
  ],
  })
</pre>
</textarea>
